/* tailwind slate color palette */

:root {
  --slate-50: #f9fafb;
  --slate-100: #f3f4f6;
  --slate-200: #e5e7eb;
  --slate-300: #d1d5db;
  --slate-400: #d3dcea; /*modified*/
  --slate-500: #6b7280;
  --slate-600: #4b5563;
  --slate-700: #374151;
  --slate-800: #1f2937;
  --slate-900: #111827;

  --purple: #3c00ff;
}

/* general */

html,
body {
  height: 100%;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--slate-800);
  fill: var(--slate-800);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--slate-400);
}

/* mobile */

.mobile {
  height: 130px;
  width: 360px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.screen {
  background-color: var(--slate-100);
  width: 100%;
  height: 100%;
}

/* navbar */

.navbar-container {
  width: 100%;
}

.navbar {
  /* ul */
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

li {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  fill: var(--purple);
  color: var(--purple);
}

/* svg */

.mobile svg {
  height: 20px;
  width: auto;
}

.mobile svg {
  margin-bottom: 4px;
}

.switch svg {
  height: 14px;
  width: auto;
  padding: 12px;
}
/* night toggle */

.switch-container {
  position: fixed;
  bottom: 70px;
}

.switch {
  /* container */
  cursor: pointer;
  border-radius: 24px;
  background-color: var(--slate-100);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider {
  background-color: #fff;
  position: absolute;
  top: 6px;
  left: 8px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.night-icon,
.day-icon {
  fill: #b5b8bd;
}

.night {
  /* will be added to slider */
  transform: translateX(35px);
}
